* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: SpaceMono Nerd Font;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;

}

window#waybar {
    background-color: rgba(43, 51, 57, 0);
/*    border: 3px solid #a7c080; */
    border: none;
    color: #fbf1c7;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #a7c080;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a7c080;
    color: rgb(43, 51, 57)
}



#workspaces button {
    padding: 0 10px 0 4px;
    background-color: transparent;
    color: #fbf1c7;
    border-radius: 8px;
}


#workspaces button:hover {
    background: #a7c080;
    color: rgb(43, 51, 57)
}

#workspaces button.focused {
    background-color: #a7c080;
    box-shadow: inset 0 -3px #a7c080;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#cava,
#mpris,
#window,
#power-profiles-daemon,
#mpd {
    padding: 0 10;
    color: #fbf1c7;
    background-color: #2e383c;
    border-radius: 10px;
    margin: 1px;
    border: 3px solid #a7c080;
}

#workspaces {
  padding: 0 10px 0 4px;
  color: #fbf1c7;
  background-color: #2e383c;
  border-radius: 10px;
    border: 3px solid #a7c080;
}

#custom-power {
    padding: 0 4px 0 10px;
    color: #fbf1c7;
    background-color: #2e383c;
    border-radius: 10px;
    border: 3px solid #a7c080;
}

#custom-power:hover {
    background-color: #a7c080;
    color: rgb(43, 51, 57)
}

#window,
#workspaces {
    margin: 0 4px;
}

#workspaces {
    padding: 0 5px 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-size: 18px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


label:focus {
    background-color: #2e383c;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}



#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
