
//@theme "/home/macchi/.local/share/rofi/themes/squared-everforest-custom.rasi"


//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

@theme "/home/macchi/.local/share/rofi/themes/squared-everforest-custom.rasi"
